body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  max-height: 100vh;
  background-color: #0f0f0f;
  user-select: none;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  box-shadow: 0px 0px 300px 17px rgba(0, 129, 112, 0.5);
  gap: 30px;
  background: linear-gradient(325deg, #005b41 0%, #008170 100%);
  padding: 20px 60px;
}

h2 {
  font-size: 3em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.reset {
  padding: 15px 20px;
  width: 100%;
  color: #000;
  background-color: #fff;
  border: none;
  font-size: 1.5em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 600;
  border-radius: 10px;
}

.reset:focus {
  color: #008170;
  background-color: #0f0f0f;
}

.game {
  width: 390px;
  height: 390px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  transform-style: preserve-3d;
  perspective: 500px;
}

.item {
  position: relative;
  width: 90px;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  font-size: 3em;
  transform: rotateY(180deg);
  transition: 0.25s;
  cursor: pointer;
  border-radius: 10px;
}

.item::after {
  content: '';
  position: absolute;
  inset: 0;
  background-color: #232d3f;
  transition: 0.25s;
  transform: rotateY(0deg);
  backface-visibility: hidden;
  border-radius: 10px;
}

.item.boxOpen {
  transform: rotateY(0deg);
}

.boxOpen::after {
  transform: rotateY(180deg);
}
